/* css styles */

.nav-title{
  font-family: fantasy
}

/* to fix the width of body and navbar with invisible scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

.navbar {
    height: 75px; /* Adjust the height as needed */
}

.navbar-brand {
  font-size: 22pt;
  /* font-family: "Georgia", serif; */
  font-weight: bold;
}

h1.title {
  font-size: 30pt;
}